[Desktop Entry]
Name=Bothered

X-KDE-PluginInfo-Name=Bothered
X-KDE-PluginInfo-Author=Bjornar Hausken
X-KDE-PluginInfo-Email=nope
X-KDE-PluginInfo-License=Public


