[Desktop Entry]
Type=Application
Version=1.0
_Name=Install {{ distro_name }} {{ ubuntu_version_number }}
_GenericName=Install {{ distro_name }}
Exec=bash -c "sudo -E calamares"
_Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;