set timeout=30

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

submenu "Try or Install {{ distro_name }}" {
	submenu "Are you sure you want to start?" {
		menuentry "NO" {
			halt
		}
		menuentry "YES" {
			set gfxpayload=keep
			linux	/casper/vmlinuz quiet splash --- 
			initrd	/casper/initrd
		}
	}
}
submenu "{{ distro_name }} (safe graphics)" {
	submenu "Are you sure you want to start?" {
		menuentry "NO" {
			halt
		}
		menuentry "YES" {
			set gfxpayload=keep
			linux	/casper/vmlinuz nomodeset quiet splash --- 
			initrd	/casper/initrd
		}
	}
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
else
menuentry 'Test memory' {
	linux16 /boot/memtest86+.bin
}
fi
